.uix-shell { min-height: 100vh; padding-top: 58px; box-sizing: border-box; display: flex; flex-direction: column; }
.uix-shell__panel { min-height: 100vh; display: flex; flex: 1; flex-direction: column; }
.uix-shell__main { flex: 1; min-width: 0; }
