




  
# Config Files
/config.yaml
/config.json
yarn.lock
pnpm-lock.yaml
tsconfig.json
tsconfig.*.json

# Project Rules
## Core
packages/**/*.js
!/build/*.js
!**/bin/*.js
!*.page.js
!packages/register/index.js

plugins/
modules/



# Config Files
/config.yaml
/config.json
yarn.lock
pnpm-lock.yaml
tsconfig.json
tsconfig.*.json

# Base
node_modules/




